:root {
	--tweaks-evtoh-collapsed-width: 50px;
	--tweaks-evtoh-expanded-width: 250px;
	--tweaks-evtoh-tab-padding: 10px;
	--tweaks-evtoh-tab-margin: calc((var(--tweaks-evtoh-collapsed-width) - var(--tweaks-evtoh-tab-padding) * 2 - var(--icon-size-default)) / 2);
	--tweaks-evtoh-animation-duration: 50ms;
	--tweaks-evtoh-tab-group-label-height: 24px;
	--tweaks-evtoh-tab-group-label-inline-margin: var(--space-medium);
	--tweaks-evtoh-tab-group-label-collapsed-font-size: 0;
	--tweaks-evtoh-tab-group-label-collapsed-font-size-first-letter: 18px;
	--chrome-content-separator-color: transparent !important;
}